// * Для общих стилей
// * Место для БЭМ блоков
.title {
    color: #2F2F51;
    font-weight: 700;
    font-size: rem(24);
    line-height: prc(28, 24);
    text-align: center;

    @media (max-width: $mobile) {
        font-size: rem(22);
    }

    &_white {
        color: #fff;
    }
}

// =======================================================================================================
.logo {

    &_header {
        position: relative;
        z-index: 2;

        @media (max-width: $mobile) {
            order: 1;
        }
    }
}

// =======================================================================================================
.order {
    display: flex;
    gap: rem(14);

    @media (max-width: $mobile) {
        gap: rem(7);
        order: 2;
    }

    @media (max-width: $mobileSmall) {
        flex-direction: column;
    }

    &__sample {}

    &__calculation {}
}

.sample-order {
    display: flex;
    align-items: center;
    gap: rem(14);
    position: relative;

    &__icon {
        position: absolute;
        top: prc(10, 40);
        left: prc(14, 169);
        display: block;
        width: rem(20);
        height: rem(18);
        cursor: pointer;
        transition: box-shadow 0.5s ease 0s;

        @media (max-width: $mobile) {
            display: none;
        }
    }

    &__button {
        background-color: #EF7F04;
        padding: rem(12) rem(19) rem(13) rem(47);
        border-radius: rem(3);
        color: #fff;
        font-weight: 700;
        font-size: rem(13);
        line-height: prc(16, 13);
        transition: box-shadow 0.5s ease 0s;

        &:hover {
            box-shadow: 0 .25rem 1.25rem 0 rgba(239, 127, 4, .5);
        }

        @media (max-width: $mobile) {
            padding: rem(12) rem(20) rem(13) rem(20);
        }
    }
}

.calculation-order {
    display: flex;
    align-items: center;
    gap: rem(14);
    position: relative;

    &__icon {
        position: absolute;
        top: prc(10, 40);
        left: prc(14, 169);
        display: block;
        width: rem(20);
        height: rem(18);
        cursor: pointer;

        @media (max-width: $mobile) {
            display: none;
        }
    }

    &__button {
        background-color: #3B3A63;
        padding: rem(12) rem(23) rem(13) rem(47);
        border-radius: rem(3);
        color: #fff;
        font-weight: 700;
        font-size: rem(13);
        line-height: prc(16, 13);
        transition: box-shadow 0.5s ease 0s;

        &:hover {
            box-shadow: 0 .25rem 1.25rem 0 rgba(59, 58, 99, .5);
        }

        @media (max-width: $mobile) {
            padding: rem(12) rem(20) rem(13) rem(20);
        }
    }
}

// =======================================================================================================
// *modal
.modal {
    border-radius: rem(10);
}

.order-service {
    display: grid;
    grid-template-columns: rem(395);
    padding: rem(62) rem(100);
    background-color: #EF7F1A;
    position: relative;

    @media (max-width: $tablet) {
        padding: rem(62) rem(75);
    }

    @media (max-width: $mobile) {
        padding: rem(50) rem(35);
        grid-template-columns: rem(300);
    }

    @media (max-width: $mobileSmall) {
        padding: rem(50) rem(25);
        grid-template-columns: rem(220);
    }

    &_calculation {
        background-color: #2F2F51;
    }

    &__close {
        background-color: transparent;
        position: absolute;
        top: prc(15, 519);
        right: prc(10, 595);
        padding: rem(10);
    }

    &__icon-close {
        stroke: #fff;
        stroke-width: 2;
        display: block;
        width: rem(20);
        height: rem(20);
    }

    &__info {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: rem(26);

        &:not(:last-child) {
            margin: rem(0) rem(0) rem(30) rem(0);
        }

        @media (max-width: $mobile) {
            gap: rem(15);

            &:not(:last-child) {
                margin: rem(0) rem(0) rem(15) rem(0);
            }
        }
    }

    &__icon {
        display: inline-block;
        width: rem(30);
        height: rem(27);
    }

    &__title {
        color: #fff;
        font-weight: 700;
        font-size: rem(24);
        line-height: prc(28, 24);

        @media (max-width: $mobileSmall) {
            font-size: rem(20);
        }
    }
}

// =======================================================================================================
// *main-form
.main-form {
    display: flex;
    flex-direction: column;

    &__input {
        flex: 1 1 auto;
        padding: rem(16) rem(17);
        font-size: rem(16);
        background-color: #E2E2E2;
        color: #424268;
        line-height: prc(20, 16);
        border-radius: rem(3);

        &:not(:last-child) {
            margin: rem(0) rem(0) rem(20) rem(0);
        }

        &::placeholder {
            font-size: rem(16);
            color: #424268;
            line-height: prc(20, 16);
        }

        &_bg-white {
            background-color: #fff;
        }
    }

    &__width-button {
        display: flex;
        justify-content: center;
    }

    &__button {
        padding: rem(16) rem(60);
        background-color: #EF7F04;
        color: #fff;
        font-weight: 700;
        font-size: rem(16);
        line-height: prc(20, 16);
        transition: box-shadow 0.5s ease 0s;

        &:hover {
            box-shadow: 0 .25rem 1.25rem 0 rgba(239, 127, 4, .5);
        }

        &_bg-white {
            background-color: #fff;
            color: #EF7F04;

            &:hover {
                box-shadow: 0 .25rem 1.25rem 0 rgba(255, 255, 255, .7);
            }
        }

        &_color {
            background-color: #fff;
            color: #2F2F51;

            &:hover {
                box-shadow: 0 .25rem 1.25rem 0 rgba(255, 255, 255, .7);
            }
        }
    }

    &__label {
        display: flex;
        align-items: center;
        gap: rem(12);
        cursor: pointer;

        &:not(:last-child) {
            margin: rem(0) rem(0) rem(38) rem(0);
        }

        @media (max-width: $mobile) {
            &:not(:last-child) {
                margin: rem(0) rem(0) rem(18) rem(0);
            }
        }
    }

    &__rules {
        max-width: rem(287);
        font-size: rem(14);
        line-height: prc(16, 14);
        color: #000;

        @media (max-width: $mobile) {
            max-width: rem(230);
        }

        @media (max-width: $mobileSmall) {
            max-width: rem(180);
        }

        span {
            color: #2F2F51;

            &._gold {
                color: #EF7F04;
            }
        }

        &_color-white {
            max-width: rem(350);
            color: #fff;

            @media (max-width: $mobile) {
                max-width: rem(200);
            }

            @media (max-width: $mobileSmall) {
                max-width: rem(150);
            }
        }
    }

    &__checkbox {
        width: 0;
        height: 0;
        opacity: 0;
        position: absolute;
        z-index: -1;

        &:checked+.main-form__checkbox-custom::before {
            transform: translate(-50%, -50%) scale(1);
        }

        &:focus+.main-form__checkbox-custom {
            box-shadow: 0px 0px 0px rem(1) #2F2F51, 0px 0px rem(10) #2F2F51;
        }
    }

    &__checkbox-custom {
        display: inline-block;
        width: rem(25);
        height: rem(25);
        border-radius: rem(3);
        background-color: #E2E2E2;
        position: relative;

        &::before {
            content: '';
            display: inline-block;
            width: rem(15);
            height: rem(15);
            background: center/ contain no-repeat url('../img/general/form-checkbox.svg');
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(0);
            transition: transform 0.3s ease 0s;
        }

        &_bg-white {
            background-color: #fff;
        }
    }

    &__textarea {
        resize: none;
        min-height: rem(135);
        background-color: #E2E2E2;
        border-radius: rem(3);
        line-height: prc(20, 16);
        color: #424268;
        font-size: rem(16);
        padding: rem(20);

        &:not(:last-child) {
            margin: rem(0) rem(0) rem(15) rem(0);
        }

        &::placeholder {
            line-height: prc(20, 16);
            color: #424268;
            font-size: rem(16);
        }
    }
}

// =======================================================================================================
.swiper-pagination-bullet {
    background: #fff;
    opacity: 1;
    padding: rem(5);
}

.swiper-pagination-bullet-active {
    background: #EF7F1A;
}

.swiper-button-prev {
    color: #000;
    transition: color 0.4s ease 0s;

    &:hover {
        color: #EF7F1A;
    }

    &::after {
        font-size: rem(40);
    }

    @media (max-width: $mobile) {
        &_arrow-down {
            top: 70%;
        }
    }
}

.swiper-button-next {
    color: #000;
    transition: color 0.4s ease 0s;

    &:hover {
        color: #EF7F1A;
    }

    &::after {
        font-size: rem(40);
    }

    @media (max-width: $mobile) {
        &_arrow-down {
            top: 70%;
        }
    }
}

// =======================================================================================================
.social {
    display: flex;
    gap: rem(12);

    &__item {}

    &__link {}

    &__icon {}
}

.icon-social {
    display: block;
    width: rem(40);
    height: rem(40);
    fill: #EF7F1A;
    transition: fill 0.5s ease 0s;

    &:hover {
        fill: #2F2F51;
    }
}